

{% extends "layout.html" %}

{% block content %}
<div>
  <h1>Your Feed</h1>
</div>
{% for post in posts %}


<div class="shadow p-3 mb-6 bg-transparent rounded card border-success" style="max-width: 35rem;margin: auto;
width: 50%;">
  <div>
    <div class = "mt-2"style="float:left;">
      <img src="{{ post.userImage }}" class="avatar" alt="Cinque Terre">
    </div>
    <div style="margin-left:10px;float:left;">
      <div class="blue"> {{post.user}}</div>
      <div>{{post.date}}</div>

    </div>
    <div style="clear:both;">
  </div>

  <hr>
  
    <p> {{post.content}}</p>

    <!-- {% if post.image %}
    <img src="{{ post.image }}" class="img-rounded img" alt="Cinque Terre">
    {% else %}
    <p></p>
    {% endif %} -->
  </div>

</div>
<br>

{% endfor %}


{% endblock %}